img {
    /* max-width: ;
    max-height: 1100; */
    width: auto;
    height: 100vh;
    /* display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; */
}

body {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

body > * {
    position: absolute;
    /* position: fixed; */
    /* position: relative; */
}


#left-buttons {
    left: 25%;
    display: inline-block;
    align-items: right;
    z-index: 2;
}

#right-buttons {
    right: 20%;
    display: inline-block;
}

