/* *, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  } */
  
  body {
    padding: 0;
    margin: 0;
    background:rgb(8, 31, 68)
    }

  button, form, input {
    width: 80px;
  }
  